@model List<Gbmono.CrawlerModel.CrawlInstanceNameUrl>
    @{
        ViewBag.Title = "Home Page";
    }

    <table>
        <tr>
            <th>InstanceName</th>
            <th>WebSiteUrl</th>
            <th>GroupId</th>
        </tr>
        @foreach (var crawler in Model)
        {
            <tr>
                <td>
                    @crawler.InstanceName
                </td>
                <td>
                    <a href="@Url.Action("WebsiteKeywordManager", new { @groupId = @crawler.GroupId, @url = @crawler.WebSiteUrl })">@crawler.WebSiteUrl</a>
                </td>
                <td>
                    @crawler.GroupId
                </td>
            </tr>
        }

    </table>
